<app-loader *ngIf="loading"></app-loader>

<app-navbar *ngIf="!loading"
    [userName]="user.name"
    [specieName]="specieName"
    >
</app-navbar>

<div class="container mt-5">
    <div class="col-4">
        <div class="card">
            <div class="card-header" *ngFor="let film of films">
                <img src="../../../assets/images/{{film.title.toLowerCase() | removeSpace}}.jpeg" alt="">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <b>Title:</b>
                        {{film.title}}
                    </li>
                    <li class="list-group-item">
                        <b>Episode id:</b>
                        {{film.episode_id}}
                    </li>
                    <li class="list-group-item">
                        <b>Release date:</b>
                        {{film.release_date}}
                    </li>
                </ul>
            </div>       
        </div>
    </div>
</div>

