<div class="container">
    <div class="row" >
        <div class="card-title">{{specieName}} starships</div>
        <div class="col-4 card" *ngFor="let starship of starships">
            <a [routerLink]="[starship.name | removeSpace]">
                <ul className="list-group list-group-flush">
                    <li className="list-group-item">
                        <b>Name: </b>
                        {{starship.name}}
                    </li>
                    <li className="list-group-item">
                        <b>Model: </b>
                        {{starship.model}}
                    </li>
                    <li className="list-group-item">
                        <b>Cost in credits: </b>
                        {{starship.cost_in_credits}}
                    </li>
                    <li className="list-group-item">
                        <b>Starship class: </b>
                        {{starship.starship_class}}
                    </li>
                </ul>
            </a>           
        </div>
    </div>
</div>
