<app-loader *ngIf="loading">
</app-loader>

<app-navbar *ngIf="!loading"
    [userName]="user.name"
    [specieName]="specieName"
    >
</app-navbar>

<div *ngIf="specieName!='wookie'">
    <app-vehicles
        [specieVehicles]="vehicles"
        [specieName]="specieName" 
    ></app-vehicles>

    <div class="container mt-3">
        <button class="btn btn-primary" (click)="deleteVehicles()">Delete manually added vehicles</button>
    </div>

    <app-form 
        (onAddVehicle)="addVehicle($event)"
    ></app-form>

    <app-video
        [videoId]="specieVideo" 
    ></app-video>
</div>

<app-starships *ngIf="specieName=='wookie'"
    [starships]="starships"
    [specieName]="specieName">
</app-starships>
