<app-loader *ngIf="loading">
</app-loader>

<app-navbar
    [userName]="user.name"
    [specieName]="specieName"
    >
</app-navbar>

<div *ngIf="specieName!='Wookie'">
    <app-vehicles
        [specieVehicles]="vehicles"
        [specieName]="specieName" 
    > </app-vehicles>

    <div class="container mt-3">
        <button class="btn btn-primary" (click)="deleteVehicles()">Delete manually added vehicles</button>
    </div>

    <app-form 
        (onAddVehicle)="addVehicle($event)"
    ></app-form>
</div>



<app-starships *ngIf="specieName=='Wookie'"
    [starships]="starships"
    [specieName]="specieName">
</app-starships>
